
main {
	margin: 10% auto;
	width: 50%;
}

div span {
	cursor: pointer;
}

div {
	padding: 5px;
}

ul {
  transition: height .5s;
  margin: 0;
  overflow: hidden;
  outline: 1px solid red;
}

.show ul {
    height: 100px;
}
